In [1]:
import sys 
sys.path.append('../')
import pandas as pd 
import numpy as np 
import talib
import sqlite3 as sql
import matplotlib.pyplot as plt 
from backtester import * 
from fxcmtoken import my_assets

In [2]:
for i, a in enumerate(my_assets):
    print(i, a)

0 EUR/USD
1 USD/JPY
2 GBP/USD
3 USOil
4 SPX500
5 VOLX
6 XAU/USD
7 Bund
8 BTC/USD

In [22]:
conn = sql.connect('../PriceData/PriceData_m5.db')
ticker = my_assets[8]
print(ticker)
data_sql = pd.read_sql(f"SELECT * FROM '{ticker}'", conn, parse_dates=['date'], index_col=['date'])
for col in ['open', 'close', 'high', 'low']:
    data_sql[col] = data_sql[['bid'+col, 'ask'+col]].mean(axis=1)
conn.close()
data_sql.tail()

BTC/USD

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty,open,close,high,low
date,,,,,,,,,,,,,
2022-07-08 20:30:00,21909.0,21933.2,21963.0,21865.0,21949.0,21973.2,22003.0,21905.0,571,21929.0,21953.2,21983.0,21885.0
2022-07-08 20:35:00,21932.8,21839.1,21993.9,21825.6,21972.8,21879.1,22033.9,21865.6,777,21952.8,21859.1,22013.9,21845.6
2022-07-08 20:40:00,21839.5,21859.5,21877.0,21788.4,21879.5,21899.5,21917.0,21828.4,584,21859.5,21879.5,21897.0,21808.4
2022-07-08 20:45:00,21860.6,21827.1,21860.6,21791.2,21900.6,21867.1,21900.6,21831.2,539,21880.6,21847.1,21880.6,21811.2
2022-07-08 20:50:00,21825.3,21843.6,21844.8,21798.7,21865.3,21863.6,21884.8,21838.7,408,21845.3,21853.6,21864.8,21818.7

In [23]:
num_periods =  [i for i in range(20, 201, 20)]

for n_period in num_periods:
    data = data_sql.copy(deep=True)
    print(ticker)
    print(f"Period: {n_period:.2f}")

    data['log_returns'] = np.log(data.close/data.close.shift(1))
    data.dropna(axis=0, inplace=True)
    data['roll_returns'] = data.log_returns.rolling(n_period).mean()
    data.dropna(axis=0, inplace=True)
    data['signals'] = data.roll_returns.apply(np.sign)
    backtest = IterativeBacktester(data=data,
                                   signals=data.signals,
                                   freq='m5')

    backtest.backtest(progress_bar=False)
    # backtest.results()
    print(f"{backtest.return_df.loc['TotalReturn', 'Portfolio']*100:.4f}%")
    
    print("Signals")
    print(backtest.signals.value_counts())

    print("Signals change")
    print(backtest.signals.diff(1).dropna().apply(np.abs).value_counts())
    
    print("-"*50)

BTC/USD
Period: 20.00
-152.8676%
Signals
-1.0    5050
 1.0    4930
Name: signals, dtype: int64
Signals change
0.0    8926
2.0    1053
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 40.00
-129.7435%
Signals
-1.0    5152
 1.0    4808
Name: signals, dtype: int64
Signals change
0.0    9182
2.0     777
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 60.00
-96.5658%
Signals
-1.0    5111
 1.0    4829
Name: signals, dtype: int64
Signals change
0.0    9280
2.0     659
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 80.00
-66.9181%
Signals
-1.0    5121
 1.0    4799
Name: signals, dtype: int64
Signals change
0.0    9409
2.0     510
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 100.00
-76.9210%
Signals
-1.0    5122
 1.0    4778
Name: signals, dtype: int64
Signals change
0.0    9383
2.0     516
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 120.00
-81.3840%
Signals
-1.0    5195
 1.0    4685
Name: signals, dtype: int64
Signals change
0.0    9401
2.0     478
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 140.00
-72.4949%
Signals
-1.0    5250
 1.0    4610
Name: signals, dtype: int64
Signals change
0.0    9503
2.0     356
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 160.00
-68.0366%
Signals
-1.0    5239
 1.0    4601
Name: signals, dtype: int64
Signals change
0.0    9445
2.0     394
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 180.00
-59.4972%
Signals
-1.0    5301
 1.0    4519
Name: signals, dtype: int64
Signals change
0.0    9432
2.0     387
Name: signals, dtype: int64
--------------------------------------------------
BTC/USD
Period: 200.00
-63.3075%
Signals
-1.0    5250
 1.0    4550
Name: signals, dtype: int64
Signals change
0.0    9435
2.0     364
Name: signals, dtype: int64
--------------------------------------------------