In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
freq = 'H1'
# sql_path = f'../PriceData/PriceData_{freq}.db'
sql_path = f'/home/kachain/python_projects/algorithmic_trading/fxcmpy_trader/PriceData_{freq}.db'
conn = sql.connect(sql_path)

In [5]:
ticker = 'EUR/USD'
data_sql = pd.read_sql(f"SELECT * FROM '{ticker}'", conn, parse_dates=['date'], index_col=['date'])

In [6]:
data_sql

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-01-18 00:00:00,1.20658,1.20751,1.20776,1.20645,1.20671,1.20763,1.20788,1.20658,9379
2021-01-18 01:00:00,1.20751,1.20802,1.20815,1.20703,1.20763,1.20817,1.20827,1.20715,8764
2021-01-18 02:00:00,1.20802,1.20824,1.20842,1.20747,1.20817,1.20834,1.20854,1.20761,7490
2021-01-18 03:00:00,1.20824,1.20735,1.20825,1.20695,1.20834,1.20748,1.20836,1.20708,6525
2021-01-18 04:00:00,1.20735,1.20695,1.20739,1.20648,1.20748,1.20706,1.20752,1.20661,5945
...,...,...,...,...,...,...,...,...,...
2022-08-12 16:00:00,1.02540,1.02559,1.02611,1.02504,1.02553,1.02572,1.02624,1.02518,10101
2022-08-12 17:00:00,1.02559,1.02602,1.02673,1.02559,1.02571,1.02615,1.02686,1.02571,7531
2022-08-12 18:00:00,1.02600,1.02644,1.02666,1.02590,1.02615,1.02657,1.02678,1.02603,4649
2022-08-12 19:00:00,1.02645,1.02597,1.02660,1.02592,1.02657,1.02612,1.02676,1.02606,4554
2022-08-12 20:00:00,1.02598,1.02562,1.02615,1.02541,1.02612,1.02622,1.02661,1.02557,3103